body{
    background-color:antiquewhite;
}

body p{
    font-size: 50px;
}


@media (max-width:700px){
  body{
        background-color: rgb(135, 95, 160);
    }  
}

@media (max-width:500px){
    body{
        background-color: rgb(246, 255, 76);
    } 
}





/* @media (max-width:700px){
    body{
        background-color: cadetblue;
    }
}

@media (min-width:500px){
    body{
        background-color: chartreuse;
    }
}






@media (min-width:500px) and (max-width:800px){
    body{
        background-color: pink;
    }
} */