*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.one{
    width: 100%;
    height: 500px;
    border: 1px solid black;
    background-image: url(birds.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    
}
.one-1 h1{
    text-align: center;
    background-color: lightslategray;
}

.main{
    font-size: 50px;
    color: white;
}

.two{
    width: 100%;
    height: 500px;
    border: 1px solid black;
    background:linear-gradient(red,yellow);
}

.three{
    width: 100%;
    height: 500px;
    border: 1px solid black;
    background:radial-gradient(red,yellow);
}

.four{
    width: 100%;
    height: 500px;
    border: 1px solid black;
    background:conic-gradient(red,yellow);
}